<!DOCTYPE html>
<html>
<head>
	<title>Bookmark manager</title>
  <link rel="stylesheet" type="text/css" href="/css/application.css">  
</head>
<body>
  <%= partial :'partials/welcome_message' %>
  <%= partial :'partials/flash' %>
  <%= yield %>
</body>
</html>